.trade-bg {
	background: url('../../../assets/images/diablo-iv.webp') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
